html 
    head 
        tittle 
        style 
            include ../images/style.css
    body
    
        div 
        
            form( method='post')
                input(type='email' name='email' placeholder='Enter Email')
                input#btn(type='submit'  value='Delete')
                ul
                    li #[a(href="/signup") SIGNUP ]
                    li #[a(href="/search" ) SEARCH ]
                    li #[a(href="/update" ) UPDATE ] 
                    li #[a(href="/Delete" ) DELETE ]