html
  head
    title My Site 
    block style
      style
        include ../images/base.css
  body#body
    block nav 
            #nav1
              ul#li 
                li #[a(href="/signup") SIGNUP ]
                li #[a(href="/search" ) SEARCH ]
                li #[a(href="/update" ) UPDATE ] 
                li #[a(href="/Delete" ) DELETE ]
    block container#cont
            p#TEXT CRUD APP WITH NODE+MONGODB          